*{font-family: montserrat;}
:root{
    --border:rgb(229 229 229);
    --green:rgb(28 138 67);
}
body{margin:0;}
*{border-collapse: collapse;}
a{text-decoration: none;color:black;}
#main{display:flex;
    width:100%;
    border:1px solid var(--border)}


#left{display:flex;width:19%;
    height:100%;align-items: center;
    justify-content:center;
    border-right:1px solid var(--border);}
   
#logo{height:40%;}


#rest{
display:flex;
width:62%;
flex-direction:column;
}
.li{width:100%;display:flex;justify-content: center;font-size:13px}
.li:hover{color:var(--green)}
#rest-top{height:46.6%;
    border-bottom:1px solid var(--border);
    width:100%;
display:flex;
}

#nav{width:75%;display:flex;
    align-items: center;
}
#lang{width:25%;
    display:flex;
    align-items: center;
    justify-content:center;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    font-weight: 600;
}
#lang-content{width:70%;display:flex;
    justify-content: space-around;
    
}
.lang:hover{color:var(--green)}
#rest-bottom{height:53.4%;width:100%;display:flex;}
#contacts{
    
    display:flex;
    align-items: center;
    justify-content: center;
    width:17%;
    border-right:1px solid var(--border);
    height:100%;}
    #contacts:hover{
        background: var(--green);
        color:white;
        
    }
    #contacts:hover #icon{color:white}
#cont-icon{height:40%;width:80%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

#icon{font-size: larger;}

#dots{
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto auto auto;
    width:21px;
    height:21px;
    
    }
    .dot{width:3px;height:3px;background:var(--green)}
    #products{display: flex;
        color:var(--green);
        
        align-items: center;
        justify-content:center;
    width:20%;
    border-right:1px solid var(--border);
    }
    #products:hover{color:white;
    background:var(--green)
    }
#products:hover .dot{
    background:white;
}
    #search{width:63%;
    border-right:1px solid var(--border);
    border-bottom:1px solid var(--border);
    display:flex;
    justify-content: space-between;
    align-items: center;
    }
    #search-left{height:100%;width:90%;
   display:flex;
   justify-content: center;
    }
    input{width:80%;height:90%;border:none;outline: none;}
    #search-right{
        width:14%;
        height:100%;
        background:var(--border);
        display:flex;
        align-items: center;
        justify-content: center;
    }
   









#right{
display:flex;
flex-direction:column;
width:19%;
}
#right-top{height:46.6%;
  
    font-weight:normal;
font-style:normal;
display:flex;
justify-content: center;
align-items: center;
color:var(--green);
border-bottom: 1px solid var(--border);
font-weight: 600;
}
#right-bottom{height:53.4%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    
    
    }


    @font-face {
        font-family: 'montserratregular';
        src: url('montserrat-regular-webfont.woff2') format('woff2'),
             url('montserrat-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;}

    
  
